---
layout: archive
---

{% assign entries_layout = page.entries_layout | default: 'list' %}

{% assign category=page.category | default: page.category_title %}

{% assign category_post_count=site.categories[category].size | default: 0 %}

<div class="entries-{{ entries_layout }}">
  {% include posts-category.html taxonomy=page.taxonomy type=entries_layout %}
</div>

<small>Total {{category_post_count}}</small>

<section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ category[0] }}</h2>
    <div class="entries-{{ entries_layout }}">
    {% for post in site.categories[category] %}
        {% include archive-single.html type=entries_layout %}
    {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>


